body
{
    width: 100%;
    height: 100%;
    background-color: #6a73ff;
}
button
{
    transition-duration: 250ms;
    background-color: brown;
    font-size: 1em;
    border: rgb(43, 0, 0) 2px solid;
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}
button:hover
{
    transition-duration: 250ms;
    border-radius: 7px;
    background-color: rgb(134, 34, 34);
    box-shadow: 2.5px 5px 5px rgba(0, 0, 0, 0.7);
}
a{
    margin-left: 7vw;
}